<div class="row">
    <div class="col-6">
        <app-dona titulo="Ventas1" [data]="data" [labels]="labels1" [backgroundColor]="backgroundColor"></app-dona>
    </div> 
    
    <div class="col-6">
        <app-dona titulo="Ventas2" [data]="data" [labels]="labels1" [backgroundColor]="backgroundColor"></app-dona>
    </div> 
    <div class="col-6">
        <app-dona titulo="Ventas3" [data]="data" [labels]="labels1" [backgroundColor]="backgroundColor"></app-dona>
    </div> 
    <div class="col-6">
        <app-dona titulo="Ventas4" [data]="data" [labels]="labels1" [backgroundColor]="backgroundColor"></app-dona>
    </div> 
</div>