
<div class="input-group">
    <span class="input-group-btn">
        <button [ngClass]="classBtn" type="button"  (click)="cambiarvalor(-5)">
            <i class="fa fa-minus"></i>
        </button>
    </span>
    <input type="number" class="form-control" [ngClass]="{ 'is-invalid': progreso>100 ||  progreso<0 }" (ngModelChange)="cambiarvalor( $event )" placeholder="Progreso" [(ngModel)]="progreso"  >
    <span class="input-group-btn">
        <button [ngClass]="classBtn" type="button" (click)="cambiarvalor(5)">
            <i class="fa fa-plus"></i>
        </button>
    </span>
</div>